.header {
  padding-top: 35px;
  padding-bottom: 80px;
}
.link {
  color: #242d52;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all .5s ease;
  &:hover {
    opacity: 0.5;
  }
}
.box_link {
  display: flex;
  align-items: center;
  gap: 15px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
